///
/// Coloured notification bar that can be optionally fixed to the viewport.
///
/// @name alert
/// @group components
///
/// @example
///     <div class="alert">
///         <p class="alert__text">Alert content here.</p>
///         <div class="alert__close">&times;</div>
///     </div>
///

@mixin alert($color, $extend: true) {
    background-color: $color;

    @include mixin-dryer('alert', $extend) {
        position: relative;
        padding: $half-spacing-unit;
        line-height: 1.4;
        color: #FFF;

        .alert__text {
            margin: 0;
            padding-right: 40px;
        }

        .alert__close {
            position: absolute;
            top: 0;
            right: $half-spacing-unit;
            color: #FFF;
            font-size: 20px;
            line-height: 50px;
        }
    }
}

// WILL WORK WHEN MIXIN INTERPOLATION IS FIXED IN SASS
// @include colour-it('.alert', 'alert');

.alert          { @include alert($base-font-color) }
.alert--info    { @include alert($info-color) }
.alert--success { @include alert($success-color) }
.alert--warning { @include alert($warning-color) }
.alert--danger  { @include alert($danger-color) }

.alert--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
