/*
E7 Credit
*/

.e7-credit {
    font-size: 12px;
    line-height: 1.25;
    font-family: Arial, sans-serif;
    color: getColour('grey');
}
.e7-credit__link {
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}
