.header {
    padding: $base-spacing-unit;
}

    .header__logo {
        display: inline-block;
        line-height: 21px;
    }

    .header__toggle {
        position: relative;
        float: right;
        width: 28px;
        height: 21px;
        padding: 0;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        border: 0;
        background-color: transparent;

        @include media-query(desk) {
            display: none;
        }

        &:focus {
            outline: none;
        }

        span {
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            opacity: 1;
            background-color: getColour('grey');
            border-radius: 1px;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
                top: 0px;

                .mobile-nav-active & {
                    top: 9px;
                    width: 0;
                    left: 50%;
                }
            }

            &:nth-child(2) {
                top: 9px;

                .mobile-nav-active & {
                    transform: rotate(45deg);
                }
            }

            &:nth-child(3) {
                top: 9px;

                .mobile-nav-active & {
                    transform: rotate(-45deg);
                }
            }

            &:nth-child(4) {
                top: 18px;

                .mobile-nav-active & {
                    top: 9px;
                    width: 0;
                    left: 50%;
                }
            }
        }
    }
