.navigation {
    @include media-query(portable) {
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-color: $secondary-background-color;
        overflow: auto;
        will-change: transform;
        transition: transform 0.25s ease;
    }

    body.mobile-nav-active & {
        @include media-query(portable) {
            transform: translateX(-100%);
        }
    }
}

    .navigation__list {
        @include media-query(portable) {
            margin-top: 3em;
            padding: $base-spacing-unit;
        }
    }

    .navigation__item {
        @include media-query(portable) {
            border-bottom: 1px solid darken($secondary-background-color, 10);
        }

        a {
            @include media-query(portable) {
                display: block;
                padding: $half-spacing-unit 0;
                text-decoration: none;
            }
        }
    }
