.navigation {
    @include media-query(portable) {
        position: fixed;
        top: 0;
        left: 100%;
        width: calc(100vw - ((#{$base-spacing-unit}*2) + 25px));
        height: 100vh;
        background-color: $secondary-background-color;
        overflow: auto;
    }

    @include media-query(desk) {
        float: right;
    }
}

    .navigation__list {
        margin: 0;
        list-style: none;

        @include media-query(portable) {
            padding: $base-spacing-unit;
        }
    }

    .navigation__item {
        @include media-query(portable) {
            border-bottom: 1px solid darken($secondary-background-color, 10);
        }

        @include media-query(desk) {
            display: inline-block;
            margin-left: $half-spacing-unit;
        }

        a {
            @include media-query(portable) {
                display: block;
                padding: $half-spacing-unit 0;
                text-decoration: none;
            }
        }
    }
