@mixin btn($color) {
    background: $color;
    border-color: $color;

    &:hover {
        background-color: darken($color, 10%);
    }

    &.btn--ghost {
        color: $color;
        border-color: $color;

        &:hover {
            background-color: $color;
        }
    }

    &.btn--plain {
        color: $color;

        &:hover {
            background-color: $color;
            border-color: $color;
        }
    }
}

.btn {
    @include btn($action-color);
    padding: 0.5em 1em;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: $base-border-radius;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    &.btn--ghost {
        background-color: transparent;

        &:hover {
            color: #fff;
        }
    }

    &.btn--plain {
        background-color: transparent;
        border-color: transparent;

        &:hover {
            color: #fff;
        }
    }
}

.btn--red { @include btn(red) }
.btn--green { @include btn(green) }


// Basic modifiers without colour changes
.btn--full {
    width: 100%;
}

.btn--large {
    font-size: 1.25rem;
}

.btn--small {
    font-size: 0.85rem;
}
