@mixin btn($color, $extend: true) {
    border-color: $color;
    background-color: $color;

    &:hover {
        border-color: darken($color, 10%);
        background-color: darken($color, 10%);
    }

    &.btn--ghost,
    &.btn--plain {
        color: $color;

        &:hover {
            background-color: $color;
            color: #FFF;
        }
    }

    @include mixin-dryer('btn', $extend) {
        padding: 0.5em 1em;
        color: #FFF;
        border-width: 1px;
        border-style: solid;
        border-radius: $base-border-radius;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }

        &.btn--ghost {
            background-color: transparent;
        }

        &.btn--plain {
            background-color: transparent;
            border-color: transparent;
        }
    }
}


// WILL WORK WHEN MIXIN INTERPOLATION IS FIXED IN SASS
// @include colour-it('.btn', 'btn');

.btn          { @include btn($action-color) }
.btn--info    { @include btn($info-color) }
.btn--success { @include btn($success-color) }
.btn--warning { @include btn($warning-color) }
.btn--danger  { @include btn($danger-color) }

// Basic modifiers without colour changes
.btn--full {
    width: 100%;
}

.btn--large {
    font-size: 1.25rem;
}

.btn--small {
    font-size: 0.85rem;
}
