@mixin btn($color) {
    border-color: $color;
    background-color: $color;

    &.btn--ghost,
    &.btn--plain {
        color: $color;

        &:hover {
            color: #fff;
            background-color: $color;
        }
    }
}

.btn {
    padding: 0.5em 1em;
    color: #FFF;
    border: 1px solid;
    border-radius: $base-border-radius;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    &.btn--ghost {
        background-color: transparent;
    }

    &.btn--plain {
        border-color: transparent;
        background-color: transparent;
    }
}

.btn { @include btn($action-color) }
.btn--info { @include btn($info-color) }
.btn--success { @include btn($success-color) }
.btn--warning { @include btn($warning-color) }
.btn--danger { @include btn($danger-color) }


// Basic modifiers without colour changes
.btn--full {
    width: 100%;
}

.btn--large {
    font-size: 1.25rem;
}

.btn--small {
    font-size: 0.85rem;
}
