html {
    // Default font size is $base-font-size

    @include media-query(lap) {
        font-size: 16px;
    }

    @include media-query(desk) {
        font-size: 18px;
    }
}

h1, .alpha, %alpha {
    margin: 0 0 0.5em;
    font-size: rem(36px);

    .wysiwyg-output & {}
}

h2, .beta, %alpha {
    margin: 0 0 0.5em;
    font-size: rem(30px);

    .wysiwyg-output & {}
}

h3, .gamma, %alpha {
    margin: 0 0 0.5em;
    font-size: rem(24px);

    .wysiwyg-output & {}
}

h4, .delta, %alpha {
    margin: 0 0 0.5em;
    font-size: rem(20px);

    .wysiwyg-output & {}
}

h5, .epsilon, %alpha {
    margin: 0 0 0.5em;
    font-size: rem(18px);

    .wysiwyg-output & {}
}

h6, .zeta, %alpha {
    margin: 0 0 0.5em;
    font-size: rem(14px);

    .wysiwyg-output & {}
}

p {
    margin: 0 0 1em;
}
